.kpi{
}

.valorKpi{
  font-family: var(--fonte-destaque), system-ui;
  font-size: 32px;
}

.textoAuxiliar{
}
.desconsiderar{
  display: none;
}

.unidadeMedida{
  display: block;
  font-family: var(--fonte-destaque), system-ui;
}

