.kpi{
  min-height: 65px;
  width: 200px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  .infoKpi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    align-items: baseline;
    width: 100%;
  }
}

.nomeKpi{
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.neutral{
  border: var(--borda-branca);
}
.bad{
  background-color: var(--toast-vermelho);
}
.medium{
  background-color: var(--toast-amarelo);
  span {color: var(--preto)};
}
.good{
  background-color: var(--toast-verde);
  span {color: var(--preto)};
}

.valorKpi{
  font-family: var(--fonte-destaque), system-ui;
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.desconsiderar > .textoAuxiliar{
  display: none;
}

.textoAuxiliar{
  font-family: var(--fonte-destaque), system-ui;
}

.textual > .textoAuxiliar,
.unidadeMedida > .textoAuxiliar,
.monetaria > .textoAuxiliar{
  display: block;
}
.unidadeMedida > span{

}
.textual > .textoAuxiliar{
  font-family: var(--fonte-corpo), sans-serif;
  font-size: 0.8em;
}

.monetaria{
  gap: 0;
}
.monetaria > .textoAuxiliar:last-child{
  align-self: start;
}