.kpi{
  .infoKpi{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: baseline;
  }
}

.valorKpi{
  font-family: var(--fonte-destaque), system-ui;
  font-size: 32px;
}

.desconsiderar > .textoAuxiliar{
  display: none;
}

.textoAuxiliar{
  font-family: var(--fonte-destaque), system-ui;
}

.textual > .textoAuxiliar,
.unidadeMedida > .textoAuxiliar,
.monetaria > .textoAuxiliar{
  display: block;
}
.unidadeMedida > span{

}
.textual > .textoAuxiliar{
  font-family: var(--fonte-corpo), sans-serif;
  font-size: 0.8em;
}

.monetaria{
  gap: 0;
}
.monetaria > .textoAuxiliar:last-child{
  align-self: start;
}