.group{
    display: flex;
    flex-direction: row;
    gap: 16px;
    min-height: 90vh;
    width: 92vw;
    overflow-y: scroll;
    margin: 8px 0;
}
.Global{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: inherit;
}

.NavTop{
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .titulo{
        font-size: 1.4em;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
    }

    .opcoes {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .filters {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 16px;
        }

        .updateInfo {
            cursor: default;
            min-width: 395px;

            > h3 {
                font-size: 0.8em;
                text-align: center;
            }

            > span {
                text-wrap: nowrap;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 8px;

                > p {
                    font-size: 0.8em;
                }
            }

            .staticIcon {
                cursor: pointer;
                filter: var(--sombra-vermelha-icone);
            }

            .loadingIcon {
                display: none;
            }
        }

        .loading {
            .staticIcon {
                display: none;
            }

            .loadingIcon {
                display: block;
                animation: girar 1s linear infinite;
            }
        }
    }
}
@keyframes girar {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.interacoes{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    border-radius: 8px;
    border: var(--borda-branca);
    > *{
        cursor: default;
    }
    > *:first-child{
        border-radius: 8px 8px 0 0;
    }
    > *:last-child{
        border-radius: 0 0 8px 8px;
    }
    > *:nth-child(even){
        background-color: var(--carvao);
    }
}

.charts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;

    .infoSemDados{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}