.ExpandedOperationLog{
    width: 100%;
    background-color: var(--gunmetal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    gap: 24px;

    .group{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
        width: 30%;
    }

    .icon{
        width: 24px;
        height: 24px;
    }
}
.name{
    font-size: 24px;
}
.ExpandedOperationLog img{
    width: 40px;
    height: 40px;
    border-radius:100%;
}